In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:


df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv')

In [ ]:
df.head(1)
df.tail(1)

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,na,na

In [ ]:
first_row_data = df.iloc[0]

In [ ]:
groupbyschoolname = df.groupby('School Name')

In [ ]:
check = df.isnull().sum()
check

School DBN                      0
School Name                     0
School Level                    0
Regents Exam                   10
Year                            0
Total Tested                    0
Mean Score                      0
Number Scoring Below 65         0
Percent Scoring Below 65        0
Number Scoring 65 or Above      0
Percent Scoring 65 or Above     0
Number Scoring 80 or Above      0
Percent Scoring 80 or Above     0
Number Scoring CR               0
Percent Scoring CR              0
dtype: int64

In [ ]:
null_rows = df[df.isnull().any(axis=1)]

null_rows

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
18654,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,90,55.6,61,67.8,29,32.2,6,6.7,0,0
52756,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,81,55.9,55,67.9,26,32.1,5,6.2,0,0
52757,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,9,53.4,6,66.7,3,33.3,1,11.1,0,0
100865,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,5,s,s,s,s,s,s,s,na,na
100866,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,54,57.4,34,63,20,37,6,11.1,0,0
100867,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,31,s,s,s,s,s,s,s,na,na
138300,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,54,57.3,34,63,20,37,5,9.3,0,0
138301,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,36,53.2,27,75,9,25,1,2.8,0,0
209785,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,12,59,9,75,3,25,1,8.3,0,0
209786,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,78,55.1,52,66.7,26,33.3,5,6.4,0,0

In [5]:
df2 = df
df2.dropna(inplace=True)
df2

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,na,na

In [ ]:
School_Name_counts = df2['School Name'].value_counts()

School_Name_counts

New Visions Charter High School for Advanced Math     1337
New Visions Charter High School for the Humanities    1031
Francis Lewis High School                              490
James Madison High School                              490
Long Island City High School                           489
                                                      ...
Middle School for Academic and Social Excellence         5
P.S. 202 Ernest S. Jenkyns                               5
J.H.S. 166 George Gershwin                               5
Success Academy Charter School - Harlem 3                5
Explore Excel Charter School                             5
Name: School Name, Length: 1012, dtype: int64

In [ ]:
School_Level_counts = df2['School Level'].value_counts()

School_Level_counts

High school                        151160
Secondary School                    30242
Junior High-Intermediate-Middle     15742
K-12 all grades                      8294
K-8                                  6858
Elementary                             25
Name: School Level, dtype: int64

In [ ]:
grouped_df2 = df2.groupby('School Level')

unique_values_per_group = grouped_df2['School Name'].unique()

unique_values_per_group

School Level
Elementary                         [P.S. 111 Adolph S. Ochs, P.S. 202 Ernest S. J...
High school                        [Orchard Collegiate Academy, University Neighb...
Junior High-Intermediate-Middle    [Technology, Arts, and Sciences Studio, Univer...
K-12 all grades                    [New Explorations into Science, Technology and...
K-8                                [P.S. 034 Franklin D. Roosevelt, P.S. 140 Nath...
Secondary School                   [East Side Community School, M.S. 260 Clinton ...
Name: School Name, dtype: object

In [ ]:
grouped_df2 = df2.groupby('Regents Exam')

unique_regentsvalues_per_group = grouped_df2['School Level'].unique()
unique_regentsvalues_per_group

#trying to see the tests for each school

Regents Exam
Algebra2/Trigonometry              [High school, K-12 all grades, Junior High-Int...
Common Core Algebra                [K-8, High school, Junior High-Intermediate-Mi...
Common Core Algebra2               [High school, K-12 all grades, Secondary Schoo...
Common Core English                [K-8, High school, Secondary School, K-12 all ...
Common Core Geometry               [High school, Secondary School, K-12 all grade...
English                            [High school, Secondary School, K-12 all grade...
Geometry                           [High school, K-12 all grades, Secondary Schoo...
Global History and Geography       [High school, Secondary School, K-12 all grade...
Integrated Algebra                 [High school, Secondary School, K-12 all grade...
Living Environment                 [K-8, High school, Junior High-Intermediate-Mi...
Physical Settings/Chemistry        [High school, K-12 all grades, Secondary Schoo...
Physical Settings/Earth Science    [High school, K-12 all grades, Junior High-Int...
Physical Settings/Physics           [High school, K-12 all grades, Secondary School]
U.S. History and Government        [High school, Secondary School, K-12 all grade...
Name: School Level, dtype: object

In [ ]:


high_school_data = df[df['School Level'] == 'High School']
algebra2_trig_test = 'Algebra2/Trigonometry'
algebra2_trig_data = high_school_data[high_school_data['Regents Exam'] == algebra2_trig_test]

# Check if there is data available for the Algebra2/Trigonometry test
if algebra2_trig_data.empty:
    print(f"No data available for {algebra2_trig_test} test in high schools.")
else:
    # Plot bar chart for Algebra2/Trigonometry scores for each high school
    plt.figure(figsize=(12, 6))  # Adjust the figure size as needed
    plt.bar(algebra2_trig_data['School Name'], algebra2_trig_data['Mean Score'])

    plt.title(f'{algebra2_trig_test} Scores Comparison for High Schools')
    plt.xlabel('High School Name')
    plt.ylabel('Mean Score')
    plt.xticks(rotation=90)  # Rotates the x-axis labels for better readability
    plt.grid(axis='y')
    plt.tight_layout()  # Adjusts the spacing between the plots
    plt.show()

No data available for Algebra2/Trigonometry test in high schools.

In [ ]:
print(df2['Regents Exam'].unique())

['Common Core Algebra' 'Living Environment' 'Common Core English'
 'Algebra2/Trigonometry' 'Common Core Algebra2' 'Common Core Geometry'
 'English' 'Geometry' 'Global History and Geography' 'Integrated Algebra'
 'Physical Settings/Chemistry' 'Physical Settings/Earth Science'
 'U.S. History and Government' 'Physical Settings/Physics']

In [ ]:
print("Unique Test Names:", df2['Regents Exam'].unique())
print("Unique Years:", df2['Year'].unique())

# Filter data to include only high schools and Algebra2/Trigonometry exams for the desired year
desired_year = 2016  # Replace with the year you want to focus on
high_school_data = df2[(df2['School Level'] == 'High School') &
                              (df2['Regents Exam'] == 'Algebra2/Trigonometry') &
                              (df2['Year'] == desired_year)]

# Check if there is data available for the Algebra2/Trigonometry test in the desired year
if high_school_data.empty:
    print(f"No data available for Algebra2/Trigonometry test in high schools for the year {desired_year}.")
else:
    # Plot bar chart for Algebra2/Trigonometry scores for each high school in the desired year
    plt.figure(figsize=(12, 6))  # Adjust the figure size as needed
    plt.bar(high_school_data['School Name'], high_school_data['Mean Score'])

    plt.title(f'Algebra2/Trigonometry Scores Comparison for High Schools ({desired_year})')
    plt.xlabel('High School Name')
    plt.ylabel('Mean Score')
    plt.xticks(rotation=90)  # Rotates the x-axis labels for better readability
    plt.grid(axis='y')
    plt.tight_layout()  # Adjusts the spacing between the plots
    plt.show()

Unique Test Names: ['Common Core Algebra' 'Living Environment' 'Common Core English'
 'Algebra2/Trigonometry' 'Common Core Algebra2' 'Common Core Geometry'
 'English' 'Geometry' 'Global History and Geography' 'Integrated Algebra'
 'Physical Settings/Chemistry' 'Physical Settings/Earth Science'
 'U.S. History and Government' 'Physical Settings/Physics']
Unique Years: [2017 2015 2016]
No data available for Algebra2/Trigonometry test in high schools for the year 2016.

In [7]:
subset_df1 = df2[['School Name', 'School Level', 'Regents Exam','Mean Score','Year']]

subset_df1

,School Name,School Level,Regents Exam,Mean Score,Year
0,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,s,2017
1,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,77.9,2015
2,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,74,2016
3,P.S. 140 Nathan Straus,K-8,Common Core Algebra,s,2016
4,P.S. 140 Nathan Straus,K-8,Common Core Algebra,s,2017
...,...,...,...,...,...
212326,Icahn Charter School,K-8,Living Environment,s,2016
212327,Icahn Charter School,K-8,Living Environment,s,2016
212328,Icahn Charter School,K-8,Living Environment,s,2017
212329,Icahn Charter School,K-8,Living Environment,s,2017
212330,Icahn Charter School,K-8,U.S. History and Government,s,2015

In [11]:
desired_year = 2016  # Replace with the year you want to focus on
high_school_data = subset_df1[(subset_df1['School Level'] == 'High School') &
                              (subset_df1['Regents Exam'] == 'Algebra2/Trigonometry') &
                              (subset_df1['Year'] == desired_year)]

high_school_data

Empty DataFrame
Columns: [School Name, School Level, Regents Exam, Mean Score, Year]
Index: []

No charts were generated by quickchart